.img1
{
    margin-left: 15px;
    display: inline-flex;
    width: 100px;
    height: 100px;
}
.pro
{
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
}
.slg
{
    font-weight: bold;
    margin-left: 9%;
    padding: 0px;
    margin-bottom: 0px;
}
.menu
{
    display: inline-flex;
    position: relative;
    left: 30%;
}
.menu li
{
    display: inline-flex;
    list-style-type: none;
    
}
.menu a
{
    text-decoration: none;
}
.backgerr
{
    background-image: url("/TAREA\ NAVIDEÑA/fondo6.jpg");
    padding-top: 5%;
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
}
.backg1
{
    background-image: url("/TAREA\ NAVIDEÑA/fondo3.jpg");
    padding-top: 5%;
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
}
.backg2
{
    background-image: url("/TAREA\ NAVIDEÑA/fondo7.jpg");
    padding-top: 5%;
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
}
.backg3
{
    background-image: url("/TAREA\ NAVIDEÑA/fondo9.jpg");
    padding-top: 5%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.backg4
{
    background-image: url("/TAREA\ NAVIDEÑA/fondo8.jpg");
    padding-top: 5%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
#perfil:hover
{
    color:#0935c6;
}
#check
{
    font-size: xx-large;
}
.pie
{
    padding: 0px;
    margin: 0px;
}